.container-auditorio{
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/Images/Pupitres.jpg");
}

.auditorio:hover {
    background-color: #ddd;
}

.auditorio.selected {
    background-color: orange; 
}


.auditorio-title {
      padding: 20px;  
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 3rem;
      color: #000;
  }

.continuar-button{
    background-color: #1f2a44;
    color: white;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-weight: 400;

}
  
