/* Estilos del contenedor principal */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  
  /* Estilos del título */
  .calendar-container h1 {
    padding: 20px;  
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 3rem;
      color: #000;
  }
  
  /* Estilos de la tabla del calendario */
  .calendar {
    width: 80%;
    max-width: 800px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  .react-calendar {
    width: 40%;
    border: none;
    background-color: white;
    border-radius: 35px;
  }
  
  .react-calendar__navigation {
    margin-bottom: 5px;
  }
  
  .react-calendar__navigation button {
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .react-calendar__tile {
    padding: 15px;
    text-align: center;
    font-size: 16px;
    color: #000000;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .react-calendar__tile--active {
    background-color: #ff9900;
    color: white;
  }
  
  .react-calendar__tile:hover {
    background-color: #1f2a44;
  }

  .react-calendar__tile--weekend {
    color: #ff9900;
  }
  
  /* Estilos de los horarios disponibles */
  .available-slots {
    width: 80%;
    max-width: 800px;
    margin-top: 30px;
  }
  
  .available-slots h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .available-slot {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
    cursor: pointer;
  }
  
  .available-slot:hover {
    background-color: #ff9900;
  }
  