.container {
  display: flex; /* Use Flexbox to position children in a row */
  justify-content: space-between; /* Optional: add space between the containers */
  align-items: center; /* Center items vertically */
  width: 100%;
}

.container-left,
.container-right{
  flex: 1; 

}

.container-left {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.title-landing {
  text-align: center; 
  width: 100%; 
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 4rem;
  color: black;
}


.button-container {
  display: flex; 
  gap: 60px;
  width: 100%;
  justify-content: center; 
}

.iniciar-sesion-btn,
.registrarse-btn{
  background-color: #112140;
  color: white;
  font-size: 1.0rem;
  border-radius: 50px;
  width: 30%;
  height: 3rem;
  font-family: 'Montserrat';
  font-weight: 400;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.iniciar-sesion-btn:hover,
.registrarse-btn:hover{
    background-color: #ff8201; 
    transform: scale(1.05);
    border:none;

}

.google-button-container{
  justify-content: center;
  margin-top: 30px;
}



.google-button {
  display: flex; /* Usar Flexbox para alinear el logo y el texto */
  align-items: center; /* Centrar verticalmente */
  background-color: #ffffff; /* Color de fondo */
  color: rgb(20, 19, 51); /* Color del texto */
  font-size: 1rem; /* Tamaño de fuente */
  border-radius: 50px; /* Bordes redondeados */
  border: 1px solid #f7f7f7; /* Borde igual que los otros botones */
  padding: 0 20px; /* Espaciado interno para el botón */
  height: 3rem; /* Altura igual que los otros botones */
  font-family: 'Montserrat'; /* Fuente */
  font-weight: 400; /* Peso de fuente */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones */
  cursor: pointer; /* Cambiar cursor a puntero */
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}

.google-button img {
  width: 30px; /* Ajustar el tamaño del logo */
  height: auto; 
  margin-right: 8px; /* Espacio entre el logo y el texto */
}

.google-button:hover {
  background-color: #ff8201; /* Cambiar color de fondo al pasar el mouse */
  transform: scale(1.05); /* Efecto de escalado */
  border: none; /* Eliminar borde al pasar el mouse */
}

.google-button-text {
  display: inline-block; /* Asegura que el texto se comporte como un bloque */
}

.registrarse-link {
  display: inline-block; /* Asegura que el Link se comporte como un bloque */
  background-color: #112140; /* Mismo color de fondo que los botones */
  color: white; /* Color del texto */
  font-size: 1.0rem; /* Tamaño de fuente */
  border-radius: 50px; /* Bordes redondeados */
  width: 30%; /* Ancho igual que los otros botones */
  height: 3rem; /* Altura igual que los otros botones */
  text-align: center; /* Centrar el texto */
  line-height: 3rem; /* Centrar verticalmente el texto */
  font-family: 'Montserrat'; /* Fuente */
  font-weight: 400; /* Peso de fuente */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones */
  text-decoration: none; /* Eliminar subrayado */
}

.registrarse-link:hover {
  background-color: #ff8201; /* Cambiar color de fondo al pasar el mouse */
  transform: scale(1.05); /* Efecto de escalado */
  color: aliceblue;
}