.container-reserva-exitosa {
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/Images/Pupitres.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .info-reserva-exitosa {    
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-family: 'Montserrat';
    text-align: center;
  }


  .title-reserva-exitosa {
    padding: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 3rem;
    color: #000;
  }

  .regresar-menu {
    background-color: #112140;
    width: 230px;
    height: 80px;
    flex: 1;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.3rem;
    color: white;
    margin-top: 20px;
  }